*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body h1{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    background-color: #001B31;
    border-radius: 5px;
}
.certify {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(35, 35, 35);
    background-image: url(certificados/15082511_v617batch2-bb-01-technology.jpg);
    background-size: 130%;
    background-attachment: fixed;
}
.course {
    width: 65%;
    height: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #ffffffb0;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
a:hover{
    color: #001B31;
    transition: .7s;
    font-weight: bolder;
    font-size: 20px;
}
li {
    list-style: none;
}
h2 a{
    color: #000000;
    font-weight: bolder;
}
h2 a:hover{
    color: #001B31;
    font-size: 25px;
}
hr {
    border-color: black;
}